<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
</head>
<body>
<form th:action="@{/product/add}" method="post">
    <center>
        <div>
            <label for="name">상품명</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="code">상품코드</label>
            <input type="text" id="code" name="code">
        </div>
        <div>
            <label for="category">카테고리</label>
            <select name="category" id="category">
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>
            </select>
        </div>
        <div>
            <label for="description">상품설명</label>
            <input type="text" id="description" name="description">
        </div>
        <div>
            <label for="price">상품가격</label>
            <input type="text" id="price" name="price">
        </div>
        <div>
            <label for="discount">상품할인율</label>
            <input type="text" id="discount" name="discount">%
        </div>
        <button>등록하기</button>
        <button>취소</button>
    </center>
</form>
</body>
</html>