<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>제품상세</title>
</head>
<body>
<center>
    <div>
        <span>NO.</span>
        <span th:text="${product.id}"></span>
    </div>
    <div>
        <span>상품명</span>
        <span th:text="${product.name}"></span>
    </div>
    <div>
        <span>상품코드</span>
        <span th:text="${product.code}"></span>
    </div>
    <div>
        <div th:if="${product.fileList.size() > 0}">
            <div th:each="img : ${product.fileList}">
                <div th:if="${img.deleted != true}">
                    <img th:src="@{${img.filePath}}" alt="Product Image">
                    <a th:href="@{|/product/fileDelete/${img.id}}">
                        <button>삭제</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <span>카테고리</span>
        <span th:text="${product.category}"></span>
    </div>
    <div>
        <span>제품설명</span>
        <span th:text="${product.description}"></span>
    </div>
    <div>
        <span>상품가격</span>
        <span th:text="${product.standardPrice}"></span>
    </div>
    <div>
        <span>판매가격</span>
        <span th:text="${product.salePrice}"></span>
    </div>
    <div>
        <span>할인율</span>
        <span th:text="${product.discount}"></span>
        <span>%</span>
    </div>
    <div>
        <span>조회수</span>
        <span th:text="${product.viewCount}"></span>
    </div>
    <div>
        <span>등록일자</span>
        <span th:text="${product.createDt}"></span>
    </div>
    <div>
        <span>수정일자</span>
        <span th:text="${product.updateDt}"></span>
    </div>
    <div>
        <a th:href="@{|/product/modify/${product.id}}">
            <button>수정하기</button>
        </a>
        <a th:href="@{|/product/delete/${product.id}}">
            <button>삭제하기</button>
        </a>
    </div>

</center>
</body>
</html>