<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
</head>
<body>

<div layout:fragment="content" class="container my-3">

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>NO.</th>
            <th>상품명</th>
            <th>상품코드</th>
            <th>카테고리</th>
            <th>상품가격</th>
            <th>판매가격</th>
            <th>할인율</th>
            <th>조회수</th>
            <th>등록일자</th>
            <th>수정일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, loop : ${productList}" th:if="${!product.deleted}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.name}"></a>
            </td>
            <td th:text="${product.code}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.standardPrice}"></td>
            <td th:text="${product.salePrice}"></td>
            <td th:text="${product.discount}"></td>
            <td th:text="${product.viewCount}"></td>
            <td th:text="${#temporals.format(product.createDt, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#temporals.format(product.updateDt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{|/product/add|}">
        <button class="btn btn-primary">상품 등록</button>
    </a>
</div>
</body>
</html>