<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content" class="container my-3">
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성일자</th>
            <th>수정일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice : ${noticeList}">
            <td th:text="${notice.id}"></td>
            <td th:text="${notice.title}"></td>
            <td th:text="${notice.viewCount}"></td>
            <td th:text="${notice.createDt}"></td>
            <td th:text="${notice.updateDt}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>