<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .img {
        width: 120px;
        height: 120px;
    }
</style>
<body>
<center>
    <h1>장바구니</h1>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>상품명</th>
            <th>정상가격</th>
            <th>판매가격</th>
            <th>할인율</th>
            <th>수량</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItemList}">
            <td th:each="img : ${cartItem.product.fileList}">
                <img th:src="@{${cartItem.product.fileList[0].filePath}}" alt="" id="img" class="img" name="img">
            </td>
            <td>
                <a th:text="${cartItem.product.name}" th:href="@{|/product/detail/${cartItem.product.id}}"></a>
            </td>
            <td th:text="${cartItem.product.standardPrice}"></td>
            <td th:text="${cartItem.product.salePrice}"></td>
            <td th:text="${cartItem.product.discount}"></td>
            <td th:text="${cartItem.amount}"></td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>