<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <meta name="_csrf" content="${_csrf.token}">
    <meta name="_csrf_header" content="${_csrf.headerName}">
</head>
<style>
    .id_ok, .id_already, .pw_diff, .pw_ok {
        display: none;
    }
    .id_ok, .pw_ok {
        color: blue;
    }
    .id_already, .pw_diff {
        color: red;
    }
</style>
<body>
<center>
    <h1>회원가입</h1>
    <form th:action="@{/member/join}" method="post">
        <div>
            <label for="username">아이디</label>
            <input type="text" id="username" name="username" oninput="idCheck()">
            <span class="id_ok">사용 가능한 아이디입니다.</span>
            <span class="id_already">이미 사용중인 아이디입니다.</span>
        </div>
        <div>
            <label for="password1">비밀번호</label>
            <input type="password" id="password1" name="password1" oninput="pwCheck()">
            <span class="pw_ok">사용 가능한 비밀번호입니다.</span>
            <span class="pw_diff">두 개의 비밀번호가 서로 다릅니다.</span>
        </div>
        <div>
            <label for="password2">비밀번호 확인</label>
            <input type="password" id="password2" name="password2" oninput="pwCheck()">
        </div>
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" name="nickname">
        </div>
        <div>
            <label for="email">이메일</label>
            <input type="text" id="email" name="email">
        </div>
        <div>
            <label for="phone">전화번호</label>
            <input type="text" id="phone" name="phone">
        </div>
        <div>
            <label for="addr1">기본주소</label>
            <input type="text" id="addr1" name="addr1">
        </div>
        <div>
            <label for="addr2">상세주소</label>
            <input type="text" id="addr2" name="addr2">
        </div>
        <button type="submit">회원가입</button>
        <button onclick="location.href='/'">취소</button>
    </form>

</center>
</body>
<script>

    const csrfToken = $('meta[name="_csrf"]').attr('content');
    const csrfHeader = $('meta[name="_csrf_header"]').attr('content');

    const idCheck = () => {

        $('.id_ok').hide();
        $('.id_already').hide();

        var username = $('#username').val();

        if (!username.trim()) {
            return;
        }

        $.ajax({
            type: "post",
            url: "/member/idCheck",
            data: {username: username},
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (cnt) {

                if (cnt === 0) {
                    $('.id_ok').show();
                    $('.id_already').hide();
                } else {
                    $('.id_already').show();
                    $('.id_ok').hide();
                }
            },
            error: function () {
                alert("에러입니다.");
            }
        })
    }

    const pwCheck = () => {
        var password1 = $('#password1').val();
        var password2 = $('#password2').val();

        if (!password1 || !password2) {
            $('.pw_ok').hide();
            $('.pw_diff').hide();
            return;
        }

        if (password1 === password2) {
            $('.pw_ok').show();
            $('.pw_diff').hide();
        } else {
            $('.pw_ok').hide();
            $('.pw_diff').show();
        }
    }

    const validation = () => {
        let isValid = true;

        const requiredFields = [
            'username',
            'password1',
            'password2',
            'name',
            'nickname',
            'email',
            'phone',
            'addr1',
            'addr2'
        ];

        requiredFields.forEach(fieldId => {
            const field = $(`#${fieldId}`);
            const value = field.val().trim();

            if (!value) {
                field.css('border', '2px solid red');
                isValid = false;
            } else {
                field.css('border', '');
            }
        });

        if (!isValid) {
            alert("비어있는 입력창이 있습니다.")
        }

        return isValid;
    };

    $('form').on('submit', function (event){
        if (!validation()) {
            event.preventDefault();
        }
    });
</script>
</html>