<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>마이페이지</title>
</head>
<style>
    .pw_diff, .pw_ok {
        display: none;
    }
    .pw_ok {
        color: blue;
    }
    .pw_diff {
        color: red;
    }
</style>
<body>
<center>
    <h1>마이페이지</h1>
    <form th:action="@{/member/mypage/modify}" th:object="${memberDto}" method="post">
        <div>
            <label for="username">아이디</label>
            <input type="text" th:field="*{username}" readonly id="username">
        </div>
        <div>
            <label for="name">이름</label>
            <input type="text" th:field="*{name}" id="name">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" th:field="*{password}" id="password" name="password" oninput="pwCheck()">
            <span class="pw_ok">사용 가능한 비밀번호입니다.</span>
            <span class="pw_diff">두 개의 비밀번호가 서로 다릅니다.</span>
        </div>
        <div>
            <label for="passwordCnf">비밀번호 확인</label>
            <input type="password" th:field="*{passwordCnf}" id="passwordCnf" name="passwordCnf" oninput="pwCheck()">
        </div>
        <div>
            <label for="nickname">닉네임</label>
            <input type="text" th:field="*{nickname}" id="nickname">
        </div>
        <div>
            <label for="email">이메일</label>
            <input type="text" th:field="*{email}" id="email">
        </div>
        <div>
            <label for="phone">전화번호</label>
            <input type="text" th:field="*{phone}" id="phone">
        </div>
        <div>
            <label for="addr1">기본주소</label>
            <input type="text" th:field="*{addr1}" readonly id="addr1">
        </div>
        <div>
            <label for="addr2">상세주소</label>
            <input type="text" th:field="*{addr2}" readonly id="addr2">
        </div>
        <button>수정하기</button>
        <a th:href="@{|/member/delete|}">
            <button>탈퇴하기</button>
        </a>
        <button>취소</button>
    </form>
</center>
</body>
<script>
    const pwCheck = () => {
        let password = $('#password').val();
        let passwordCnf = $('#passwordCnf').val();

        if (!password || !passwordCnf) {
            $('.pw_ok').hide();
            $('.pw_diff').hide();
            return;
        }

        if (password === passwordCnf) {
            $('.pw_ok').show();
            $('.pw_diff').hide();
        } else {
            $('.pw_ok').hide();
            $('.pw_diff').show();
        }
    }
</script>
</html>